div.dark {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	text-align: center;
}

div.popupContainer,
div.popupFrameContainer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

div.popupContainer {
	z-index: 10;
}

div.popupFrameContainer {
	z-index: 2;
}

div.popup,
iframe.popupFrame {
	width: 400px;
	min-height: 60px;
	margin-top: 100px;
	padding: 16px;
	margin-left: auto;
	margin-right: auto;
  background-color: white;
  border: 1px solid #cccecb;
  box-shadow: 0px 1px 1px 0px #cccecb;
  border-radius: 3px;
}

iframe.popupFrame {
	padding: 0;
	border: none;
	background-color: white;
	z-index: 0;
}
