*.c
*.cpp
*.egg
*.gz
*.nix
*.py[cod]
*.so
.coverage
.mypy_cache
.project
.pydevproject
.settings
.vscode
/.python-version
Documents/
Homepage/
Mathics.egg-info/
Test/
_Copies_/
_Database_/
build/
dist/
mathics/Makefile
ChangeLog
mathics/doc/tex/data
mathics/doc/tex/documentation.tex
mathics/doc/tex/images/
mathics/doc/tex/logo-heptatom.pdf
mathics/doc/tex/logo-text-nodrop.pdf
mathics/doc/tex/mathics-*.asy
mathics/doc/tex/mathics-*.eps
mathics/doc/tex/mathics-*.pdf
mathics/doc/tex/mathics-*.dvi
mathics/doc/tex/mathics.aux
mathics/doc/tex/mathics.dvi
mathics/doc/tex/mathics.fdb_latexmk
mathics/doc/tex/mathics.fls
mathics/doc/tex/mathics.idx
mathics/doc/tex/mathics.ilg
mathics/doc/tex/mathics.ind
mathics/doc/tex/mathics.log
mathics/doc/tex/mathics.maf
mathics/doc/tex/mathics.mtc*
mathics/doc/tex/mathics.out
mathics/doc/tex/mathics.pdf
mathics/doc/tex/mathics.pre
mathics/doc/tex/mathics.toc

mathics/doc/xml/
mathics/web/db/mathics.sqlite
mathics/web/media/pdf/
mathics/web/media/doc/classes.pdf
mathics/web/media/doc/classes.png
tmp
