dist: bionic
language: python
python:
  - 3.8
  - pypy3.6-7.3.1
matrix:
  fast_finish: true
  include:
    - python: 3.8
      env: DOC="true"
      env: ALL_MODULES="true"
      env: CYTHON="true"
services:
  - xvfb
before_install:
  - sudo apt-get update -qq && sudo apt-get install -qq liblapack-dev llvm-10 llvm-10-dev
  - sudo apt-get install -qq gfortran
  - sudo apt-get install -qq texlive-font-utils latexmk texlive-xetex lmodern inkscape
  - sudo apt-get install -qq texlive-latex-extra texlive-fonts-recommended asymptote
  - LLVM_CONFIG=/usr/bin/llvm-config-10  CXXFLAGS=-fPIC python -m pip install llvmlite
  - pip install ipywidgets ipykernel requests IPython==5.0.0 langid pycountry pyenchant lxml matplotlib
  - python travis.py
  - pip install cython unittest2 pexpect scikit-image
install:
  - sed -i "s/'sympy==[0-9]\.[0-9]\.[0-9]', //" setup.py
  - make develop
script:
  - make doc
notifications:
    email: false
    slack: mathics:VIjdkcZPlA79sOtVOtyjdOcT
