dist: bionic
language: python
python:
  - 3.8
  - pypy3.6-7.3.1
env:
  global:
    - SYMPY_SRC=sympy-1.6
    - DOC="false"
    - ALL_MODULES="false"
    - PYMATHICS_MODULES="false"
    - CYTHON="false"
matrix:
  fast_finish: true
  include:
    - python: 3.8
      env: DOC="true"
    - python: 3.8
      env: ALL_MODULES="true"
    - python: 3.8
      env: PYMATHICS="true"
    - python: 3.8
      env: CYTHON="true"
    - python: 3.8
      env: ALL_MODULES="true" CYTHON="true"
    - python: 3.8
      env: PYMATHICS="true" CYTHON="true"
  allow_failures:
    - python: pypy3.6-7.3.1
    - env: SYMPY_SRC=master
    - env: DOC="true"
    - env: DOC="true" PYMATHICS_MODULES="true"
services:
  - xvfb
before_install:
  - sudo apt-get update -qq && sudo apt-get install -qq liblapack-dev llvm-10 llvm-10-dev
  - sudo apt-get install -qq gfortran
  - LLVM_CONFIG=/usr/bin/llvm-config-10  CXXFLAGS=-fPIC python -m pip install llvmlite
  - pip install numpy
  - if [[ "$ALL_MODULES" == "true" ]]; then
      sudo apt-get install -qq &&
      pip install ipywidgets ipykernel requests IPython==5.0.0 nltk langid pycountry pyenchant lxml matplotlib networkx &&
      python travis.py &&
      python -m nltk.downloader wordnet omw;
    fi
  - if [[ "$PYMATHICS_MODULES" == "true" ]]; then
      sudo apt-get install -qq python-enchant &&
      pip install numpy ipywidgets ipykernel requests IPython==5.0.0 nltk langid pycountry pyenchant lxml matplotlib networkx &&
      python travis.py &&
      python -m nltk.downloader wordnet omw;
    fi
  - if [[ "$DOC" == "true" ]]; then
      sudo apt-get install -qq texlive-font-utils latexmk texlive-xetex;
      sudo apt-get install -qq lmodern inkscape;
      sudo apt-get install -qq texlive-latex-extra texlive-latex;
      sudo apt-get install -qq texlive-fonts-recommended;
      sudo apt-get install -qq asymptote;
    fi
  - if [[ "$CYTHON" == "true" ]]; then
      pip install cython;
    fi
  - pip install pint unittest2 pexpect scikit-image
  - pip install git+https://github.com/sympy/sympy.git@$SYMPY_SRC
install:
  - sed -i "s/'sympy==[0-9]\.[0-9]\.[0-9]', //" setup.py
  - if [[ "$DOC" == "true" ]]; then python setup.py develop; else python setup.py install; fi
script:
  - if [[ "$DOC" == "true" ]]; then
      make check output="--output";
      if [[ "$PYMATHICS_MODULES" == "true" ]]; then
         python pymathics/test.py -o &&
         python pymathics/test.py -t &&
         cd pymathics/doc/tex &&  make latex;
      else
         make doc;
      fi
    else
      make check &&
      if [[ "$PYMATHICS_MODULES" == "true" ]]; then
        make doctest o="--stop-on-failure";
      fi
    fi
notifications:
    email: false
    slack: mathics:VIjdkcZPlA79sOtVOtyjdOcT
