include README.rst
include CHANGES.rst
include ChangeLog
include COPYING.txt
include FUTURE.rst
include Makefile
include mathics/Makefile
include mathics/Makefile
recursive-include mathics *.py
recursive-include test *.py
