include README.rst
include CHANGES.rst
include ChangeLog
include COPYING.txt
include FUTURE.rst
include Makefile
include requirements-dev.txt
include requirements-full.txt
recursive-include mathics *.py
recursive-include mathics/data *
recursive-include test *.py *.m
