/core-version.tex
/doc_tex_data.pcl
/documentation.tex
/images/
/logo-heptatom.pdf
/logo-text-nodrop.pdf
/mathics-*.asy
/mathics-*.dvi
/mathics-*.dvi
/mathics-*.eps
/mathics-*.pdf
/mathics-*.tex
/mathics-test.aux
/mathics-test.dvi
/mathics-test.fdb_latexmk
/mathics-test.fls
/mathics-test.idx
/mathics-test.ilg
/mathics-test.ind
/mathics-test.log
/mathics-test.maf
/mathics-test.mtc*
/mathics-test.out
/mathics-test.pdf
/mathics-test.pre
/mathics-test.toc
/mathics.aux
/mathics.dvi
/mathics.fdb_latexmk
/mathics.fls
/mathics.idx
/mathics.ilg
/mathics.ind
/mathics.log
/mathics.maf
/mathics.mtc*
/mathics.out
/mathics.pdf
/mathics.pre
/mathics.toc
/testing.aux
/testing.tex
