sympy>=1.6, <= 1.8dev
django >= 3.1.2, < 3.2
mpmath>=1.1.0
numpy
palettable
pint
pydot
python-dateutil
colorama
llvmlite
requests
cython
scikit-image
ipywidgets
ipykernel
requests
IPython==5.0.0
nltk
langid
pycountry
pyenchant
lxml
matplotlib
networkx
git+https://github.com/mathics/Mathics.git#egg=Mathics3
# git+https://github.com/mathics/Mathics
