{% load static %}
<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>

<meta name="viewport" content="width=480" />
<!-- make page fit nicer in iOS -->

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/documentation.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}" />
<link rel="stylesheet" type="text/css" media="print" href="{% static 'css/styles_print.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}" />
<link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32" />
<link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16" />
<link rel="manifest" href="{% static 'img/favicons/manifest.json' %}" />
<link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#333333" />
<link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" />
<meta name="msapplication-config" content="{% static 'img/favicons/browserconfig.xml' %}" />
<meta name="theme-color" content="#ffffff" />

<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_ie.css' %}" />
<![endif]-->

<!--<link rel="shortcut icon" href="/favicon.ico" />-->

<script type="text/javascript" src="{% static 'js/prototype/prototype.js' %}"></script>
<script type="text/javascript" src="{% static 'js/three/Three.js' %}"></script>
<script type="text/javascript" src="{% static 'js/three/Detector.js' %}"></script>

<script type="text/javascript" src="{% static 'js/mathjax/MathJax.js' %}?config=MML_HTMLorMML&amp;delayStartupUntil=configured"></script>

<script type="text/javascript" src="{% static 'js/message.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication.js' %}"></script>
<script type="text/javascript" src="{% static 'js/inout.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mathics.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graphics3d.js' %}"></script>
<script type="text/javascript" src="{% static 'js/doc.js' %}"></script>

{% block html_head %}
{% endblock %}

</head>

<body>

{% block html_body %}
{% endblock %}

<!--
<div style="display: none">
<math id="prototype_math" xmlns="http://www.w3.org/1998/Math/MathML">
<mstyle id="prototype_mstyle"></mstyle>
<mrow id="prototype_mrow"></mrow>
<msup id="prototype_msup"><mi>x</mi><mi>y</mi></msup>
<msub id="prototype_msub"><mi>x</mi><mi>y</mi></msub>
<msubsup id="prototype_msubsup"><mi>x</mi><mi>y</mi><mi>z</mi></msubsup>
<mfrac id="prototype_mfrac"><mi>x</mi><mi>y</mi></mfrac>
<msqrt id="prototype_msqrt"><mi>y</mi></msqrt>
<mo id="prototype_mo">x</mo>
<mn id="prototype_mn">1</mn>
<ms id="prototype_ms">x</ms>
<mi id="prototype_mi">x</mi>
<mtext id="prototype_mtext">t</mtext>
<mtable id="prototype_mtable">
<mtr id="prototype_mtr">
<mtd id="prototype_mtd"></mtd>
</mtr>
</mtable>
</math>

<svg id="prototype_svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg">
<g id="prototype_g" />
<rect id="prototype_rect" />
<circle id="prototype_circle" />
<polyline id="prototype_polyline" />
<polygon id="prototype_polygon" />
<path id="prototype_path" />
<ellipse id="prototype_ellipse" />
<foreignObject id="prototype_foreignObject" />
</svg>

<div id="prototype_div_html" xmlns="http://www.w3.org/1999/xhtml"></div>
<canvas id="prototype_canvas" width="200" height="200" style="border: 1px solid lightgray"></canvas>
</div>
-->

<!--<div style="white-space: nowrap;" id="calc_all">
<span class="calc_container" style="font-size: 0.90em; font-family: default;" id="calc_container"></span><span class="calc_next" id="calc_next"> </span><br />
<span class="calc_below" id="calc_below"> </span>
</div>-->
<div style="white-space: nowrap;" id="calc_all">
<span class="calc_container" style="font-size: 0.90em; font-family: default;"></span><span class="calc_next"> </span><br />
<span class="calc_below"> </span>
</div>

</body>
</html>
