{% extends "base.html" %}

{% block main %}

<div id="document">

<!-- Insert ul into this div, as empty ul is not allowed! -->
<div id="queriesContainer"></div>

<div id="welcomeContainer">
<div id="welcome">
<p><h1>Welcome to Mathics!</h1></p>
<p>Mathics is a general-purpose computer algebra system.</p>
<p>Enter queries and evaluate them by pressing <code>Shift</code> + <code>Return</code>.
See the <a href="javascript:showGallery()">gallery</a> for some examples or the <a href="javascript:showDoc()">documentation</a> for a full list of supported functions.
<!--<p>Currently, only <a href="http://www.getfirefox.com" target="_blank">Firefox</a> is supported. Install the <a href="http://www.mozilla.org/projects/mathml/fonts/" target="_blank">STIX fonts</a> for optimal display of mathematical content.</p>-->
<!--<p><small>This box will disappear as soon as you submit your first query.</small></p>-->
</p>
<p>Mathics uses <a href="http://www.mathjax.org/" target="_blank">MathJax</a> to display beautiful math.
For further information about the project visit <a href="https://mathics.org" target="_blank">the home page</a>.</p>
<div style="position:absolute;right:0;bottom:-2.8em;">
  <p style="text-align:right;color:#3f3f3f;"><label><input type="checkbox" id="hideStartupMsg" />Do not show on startup.</label></p>
</div>
</div>

<div id="welcomeBrowser" style="display: none">
<p>It seems that you are using an unsupported Web browser. Please consider running Mathics with <a href="http://www.getfirefox.com" target="_blank">Firefox</a>, <a href="http://www.google.com/chrome" target="_blank">Chrome</a>, or <a href="http://www.apple.com/safari" target="_blank">Safari</a>.</p>
</div>
</div>

</div>

<div id="code" style="display: none">
<textarea id="codetext" rows="20" cols="80"></textarea>
</div>

<div id="doc" style="display: none">

</div>

{% endblock main %}
