<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Mathics</title>

</head>

<body>

<h1>Tests</h1>

<h2>Textarea</h2>

<textarea style="background-color: yellow; overflow: hidden; position: absolute; border: none; outline: none;"></textarea>

<h2>JavaScript</h2>

<script type="text/javascript">

	function test() {
		var x = null;
		if (x == null)
			alert("null == null");
		if ('' == null)
			alert("'' == null");
		if (!x)
			alert("null is false");
		if (x != null)
			alert("null != null");
		if ('' != null)
			alert("'' != null");
	}

</script>

<p>
	<a href="javascript:test()">Test</a>
</p>

</body>

</html>